py==1.10.0
colorama==0.4.4
toml==0.10.2
attrs==20.3.0
pytest==6.2.2
pluggy==0.13.1
iniconfig==1.1.1
atomicwrites==1.4.0
EasyProcess==0.3
pytest-qt==3.3.0
coverage==5.5
PyVirtualDisplay==2.1
setuptools==52.0.0.post20210125
PySide2==5.15.2
pyqt5==5.15.3
flake8==3.8.4
tox==3.23.0
pyqtgraph==0.11.1
McsPyDataTools==0.4.1
filelock==3.0.12
six==1.15.0
packaging==20.9
pyflakes==2.2.0
numpy==1.20.1
wheel==0.36.2
virtualenv==20.4.2
distlib==0.3.1
appdirs==1.4.4
shiboken2==5.15.2
MEAXtd==0.0.1